.container {
    display: flex;
    flex-direction: column;

    max-width: 1024px;
    margin: auto;
}

.header {
    color: black;
    text-align: center;
    user-select: none;
}
.header .title {
    font-size: 5em;
}
.header .subtitle {
    font-size: 1em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: bold;
}

.linkGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    padding: 60px;
}
.linkGrid .linkItem {
    display: flex;
    flex-direction: column;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2.8px 2.8px 4.9px rgba(0, 0, 0, 0.021),
        7.6px 7.6px 13.6px rgba(0, 0, 0, 0.03),
        18.4px 18.4px 32.9px rgba(0, 0, 0, 0.039),
        61px 61px 109px rgba(0, 0, 0, 0.06);
    transition: background 0.2s;
}
.linkGrid .linkItem:hover {
    background: #f1f1f1;
}
.linkGrid .linkItem .title {
    margin: 0 0 0.4em 0;
    font-size: 1.2em;
    font-weight: bold;
}
.linkGrid .linkItem .link {
    margin: auto 0 0 auto;
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    color: rgb(177, 177, 177);
}

@media screen and (max-width: 768px) {
    .linkGrid {
        grid-template-columns: 1fr;
    }
}
