.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.modal {
    background: white;
    width: 380px;
    box-shadow: 4.5px 4.9px 4.5px rgba(0, 0, 0, 0.032),
        15px 16.5px 15.2px rgba(0, 0, 0, 0.048),
        67px 74px 68px rgba(0, 0, 0, 0.08);
}

.modal .header {
    padding: 40px;
    text-align: center;
}
.modal .header .banner-container {
    font-size: 3em;
    margin-bottom: 20px;
}
.modal .header .banner-container span {
    background: -webkit-linear-gradient(
        0deg,
        #9cd1cc 0%,
        #01887b 50%,
        #9cd1cc 100%
    );
    background-size: 400% 400%;
    animation: gradient-scroll 1s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
@keyframes gradient-scroll {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.modal .header p {
}

.modal .footer {
    background: linear-gradient(135deg, #61beb4, #01887b);
    height: 50px;
}
